@page
@model IndexModel
@(ViewData["Title"] = "Home page")
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<form method="get">
    <select asp-items="Model.Countries" id="id" name="id"></select>
    <input type="submit" name="submit" value="Submit" />
</form>
@if (Model.SelectedCountry != null)
{
    <table border="1">
        <tr>
            <td colspan="2">@Model.SelectedCountryName</td>
            <td>@Model.PopulationLabel</td>
            <td>@Model.TotalCasesLabel</td>
            <td>@Model.TotalDeathsLabel</td>
            <td>@Model.DeathRateLabel</td>
        </tr>
        <tr align="center"><td>Date</td><td>Daily Cases</td><td>Daily Deaths</td><td>Total Cases</td><td>Total Deaths</td><td>Percentage</td></tr>

        @foreach (COVID19.CountryRecord record in Model.SelectedCountry.CountryRecords)
        {
            <tr align="right">
                <td>@record.Date</td>
                <td>@Model.FormatNumber(record.Cases)</td>
                <td>@Model.FormatNumber(record.Deaths)</td>
                <td>@Model.TotalCasesLabel</td>
                <td>@Model.TotalDeathsLabel</td>
                <td>@Model.DeathRateLabel</td>
            </tr>
            Model.TotalCases -= record.Cases;
            Model.TotalDeaths -= record.Deaths;
        }
    </table>
}